.produce-card{
    font-size: .9em;
    color: green;


    display: flex;
    flex-direction: column;
    flex-basis: 25em;
    justify-content: center;

    border-radius: 5%;
    border: medium solid darkgrey;

    padding: 1em;
    margin: 1em;
    

}

.produce-value-title{
    color: black;
}

.produce-card *{
    margin: .5em;
}


.produce-card-container{
    padding: auto;
}

.produce-card-images{
    align-self: center;
    margin-bottom: 1em;
    height: 10em;
    width: 10em;
    border: 1px solid red;
    border-radius: 10%;
}



.produce-card-title{
    padding-top: 0;
    margin-top: 0;
    align-self: center;
}

.produce-quantity{
    align-self: center;
}

