.SearchContainer{
    color: #6b2a2c;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

}




.produce-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3em;
    width: 85%;
}