#about-us-family{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

#about-us-family-title{
    font-size: 3em;
    border-bottom: .08em solid white;
}

#family-member-container{
    padding-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#desktop-break{
    display: block;
    height: 1px;
    width: 100%;
}

.mobile-break{
    display: none;
}

#about-us-family > .react-links{
    padding-top: 0;
    margin-top: 3em;
    font-size: 1.25em;
    color: blue;
}

#about-us-family > .react-links:hover{
    color: springgreen;
}


@media screen and (max-width: 645px){
    

    #family-member-container{
        height: 50%;
        padding-top: 5vh;
        justify-content: space-around;
    }

    #desktop-break{
        display: none;
    }

    .mobile-break{
        display: block;
        height: 1px;
        width: 100%;
    }

    #about-us-family > .react-links{
        margin-top: 1em;
    }
}



