.family-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vh;
    padding-top: .5em;
    flex-grow: 33%;
}

.family-member-image{
    height: 22vh;
    width: 22vh;
    border: .1em white solid;
    border-radius: 5%;
}

.family-member-name{
    padding-top: .5em;
    font-size: 1em;
    color: springgreen;
}

@media screen and (max-width: 786px){
    .family-member-image{
        height: 15vh;
        width: 15vh;
    }
}



@media screen and (max-width: 645px){

    .family-member{
        margin: 0;
    }
}



