header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #f9f400;
    background: no-repeat center/cover;
    background-image: url("../images/IMG_1161.jpg");
    height: 100vh;
    letter-spacing: .5em;
    margin: 0;
    padding: 0;
    width: 100%;

    font-family: 'Lexend Exa', sans-serif;
}

.header-title{

    font-size: 5em;
    font-weight: 100;
    border-bottom: .05em solid white;

}

.header-nav{
    padding-top: 3em;
    display: flex;
    flex-direction: row;

}

.header-nav-item{
    font-size: 1.5em;
    list-style: none;
    padding: 0 .7em;
    opacity: .8;
}


.header-nav-item:hover{
    padding-top: 0;
}


.header-nav-item a{
    color: inherit;
    text-decoration: none;
}

.header-nav-item a:hover{

    color: #fe240b;

}


@media screen and (max-width: 923px){

    .header-nav{
        flex-direction: column;
        align-items: center;
    }

    .header-nav-item{
        margin-top: .5em ;
        margin-bottom: .5em ;
    }

}

@media screen and (max-width: 645px){
    .header-title{
        font-size: 3em;
    }
}