form{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

#login-input-wrapper{
    display: flex;
    flex-direction: row;
}

form button{
    margin-top: 1em;
    align-self: center;
    width: 50%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10%;
}

form button:hover{
    background-color: rgba(0, 0, 0, .5)
}