.produce-card{


    font-size: .9em;
    color: green;
    display: flex;
    flex-direction: column;
    flex: 0 0 230px;
    flex-basis: 4em;
    justify-content: center;

    border-radius: 5%;
    border: medium inset darkgrey;

    padding: 1em 1em;
    margin: 1em;
    height: 26em;
    width: 24em;

}

.produce-value-title{
    color: black;
}

.produce-card *{
    margin: .5em;
}


.produce-card-container{
    padding: auto;
}

.produce-card-image{
    align-self: center;
    height: 10.5em;
    width: 10.5em;
    border: 1px solid red;
    border-radius: 10%;
}

.produce-card-title{
    align-self: center;
}

.produce-quantity{
    align-self: center;
}

