.SearchContainer{
    color: #6b2a2c;
    height: 100vh;
    font-family: 'Lexend Exa', sans-serif;

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/

}




.produce-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    width: 85%;
    margin: auto;


}